<ion-header>
  <ion-toolbar>
    <ion-title>blyster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div>
        <h1>O que é o blyster?</h1>
        <p>
          O blyster é um projeto em Blockchain que permite criar moedas virtuais (coins) e trocá-las por qualquer coisa.
        </p>
        <p>Tipo o Bitcoin, só que de uma maneira mais simplicada, para que todos os mortais possam participar.</p>
      </div>

    </ion-slide>
    <ion-slide>
      <div>
        <h1>Você teria algum exemplo pra deixar mais claro?</h1>
        <p>Sem dúvida! Você pode criar moedas virtuais e usá-las como:</p>
        <ul>
          <li>Programa de pontos em seu comércio</li>
          <li>Prêmio a seus seguidores nas redes sociais</li>
          <li>Utilizar como credencial de acesso em eventos</li>
        </ul>
        <p>São múltiplas possibilidades que a sua criatividade pode criar. ;)</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <h1>Tá bom, e quanto custa?</h1>
        <p>Nada! Só criar e usar.</p>
        <ion-button shape="round" fill="outline" routerLink="/create-account">Começar</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>